.profilePic{
    margin-top: 2%;
    margin-left: 20%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: 100% 100%;
}

.profilePicBox{
    width: 400px;
    height: 500px;
    margin-top: 3%;
    margin-left: 12%;
    background-color: rgba(89,102,114,0.5);
    border-radius: 1%;
    float: left;
}

.profileInfo{
    width: 800px;
    height: 500px;
    margin-top: -33%;
    margin-left: 42%;
    background-color: rgba(89,102,114,0.5);
    border-radius: 1%;
    float: left;
}

.name{
    font-size: 70px;
    color: #e56b6f;
    margin-left: 30%;
    margin-top: 3%;
    float: left;
}

.editBtn{
    margin-right: 2%;
    margin-top: -8%;
    background: rgba(0,0,0,0);
    border-style: none;
    cursor: pointer;
    float: right;
}

.blockStyle{
    border-top: #e56b6f 1px solid;
    color: #e56b6f;
    height: 150px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.SD{
    width: 400px;
    margin-left: 30px;
}

.about{
    width: 300px;
    margin-left: 90px;
    height: 240px;
}

.personality{
    width: 200px;
    float: right;
    margin-top: -52.4%;
    margin-right:13%;
}

.per{
    float: right;
    margin-top: -56%;
    margin-right: 25%;
}

.subTitle{
    margin-left: 30px;
    color: white;
    font-size: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.AB{
    width: 70px;
    padding-top: 27px;
    margin-left: 88px;

}

.info{
    text-align: right;
}

.img{
    margin-left: -15%;
    margin-top: -1%;
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 0%;
}
