.intimacy_1{
    margin-top: -1%;
    margin-left: 43%;
    width: 200px;
    height: 45px;
    display: block;
}

.text{

    font-size: 20px;
    float: left;
    margin-left: 10%;
    line-height: 41px;
}
